@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");

/* Import Fonts*/
@font-face {
  font-family: "dalmoori";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/dalmoori.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* html, body, heading */
@layer base {
  body {
    @apply m-0 p-0 box-border font-body;
  }
  h1 {
    @apply text-80  text-white;
  }
  h2 {
    @apply text-55  text-white;
  }
  h3 {
    @apply text-40  text-white;
  }
  h4 {
    @apply text-25 text-white;
  }
}

/* custom classNames */
@layer components {
  .wrapper {
    @apply relative flex min-h-screen flex-col items-center justify-center border-8 py-2 bg-black;
  }
  .hover {
    @apply hover:opacity-70 hover:cursor-pointer transition-all;
  }
  .my-table-spacing {
    border-spacing: theme("spacing.3");
  }
}
