@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");

/* Import Fonts*/
@font-face {
  font-family: "dalmoori";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/dalmoori.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* html, body, heading */
@layer base {
  body {
    @apply m-0 p-0 box-border font-body;
  }
  h1 {
    @apply text-80  text-white;
  }
  h2 {
    @apply text-55  text-white;
  }
  h3 {
    @apply text-40  text-white;
  }

  input {
    @apply appearance-none border-none w-full py-4 px-3 text-lg shadow-md rounded-xl z-40 focus:outline-none;
  }
  textarea {
    @apply focus:outline-none;
  }
  form {
    @apply flex flex-col justify-center items-center;
  }
}

/* custom classNames */
@layer components {
  .hover {
    @apply hover:opacity-70 hover:cursor-pointer transition-all;
  }
}
